.body {
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.page-header {
  background-color: $faded-blue;
  margin: 0;
  padding: 0;
  width: 100%;
}

.side-nav {
  background-color: $faded-blue;
  left: 0;
  margin: 25px;
  max-width: 400px;
  position: absolute;

  button {
    // max-width: 250px;
    margin: 10px;
    padding: 10px;
  }
}

// .disabled {
//   opacity: 0;
//   visibility: hidden;
// }
.msw {
  background-color: $faded-blue;
  border: 3px solid $white;
  border-radius: 5px;
  float: center;
  left: 200px;
  margin: 25px;
  // max-width: 70%;
  position: relative;
  width: 756px;
}

.charts {
  max-width: 70%;
  img {
    max-width: 300px;
  }
  button i {
    width: 100px;
  }
}
