.body {
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.page-header {
  background-color: $faded-blue;
  margin: 0;
  padding: 0;
  width: 100%;
}

.side-nav {
  background-color: $faded-blue;
  left: 0;
  margin: 25px;
  max-width: 400px;
  position: absolute;

  button {
    // max-width: 250px;
    margin: 10px;
    padding: 10px;
  }
}

.noaa {
  float: right;
  left: 200px;
  position: absolute;
  right: 0;
}
